---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$font-1: 'Roboto', sans-serif;
$font-2: 'Open Sans', sans-serif;
$font-3: 'Montserrat', sans-serif;
$font-4: 'AmericanTypewriter', sans-serif;
$base-font-size: 16px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit: 30px;
$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;
$on-palm: 600px;
$on-laptop: 800px;

// Viewports
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/**
 * Devices
 */

$screen-iphone5: 320px; // TODO: Remove this

// iPhone 4
$screen-iphone4-x: 320px;
$screen-iphone4-y: 372px;

// iPhone 5
$screen-iphone5-x: 320px;
$screen-iphone5-y: 460px;

// iPhone 6
$screen-iphone6-x: 375px;
$screen-iphone6-y: 559px;

// iPhone 6 Plus
$screen-iphone6p-x: 414px;
$screen-iphone6p-y: 628px;


// Color Pallette
$color-1: #FFCC00;
$color-2: #CC0066;
$color-20: #ce0b7b;
$color-3: #99CC00;
$color-4: #0066FF;
$color-5: #990066;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

* {
  -webkit-font-smoothing: antialiased;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "index/about",
  "index/archive",
  "base",
  "index/donate",
  "index/events",
  "index/mission-vision",
  "index/image-break",
  "index/image-blocks",
  "index/featured",
  "fonts",
  "foot",
  "index/home",
  "layout",
  "navbar",
  "section",
  "background-box",
  "slant",
  "colors",
  "overlay",
  "syntax-highlighting",
  "index/video",
  "project/project",
  "project/faq",
  "project/resources";
