---
layout: project
title: About
---

<div id="about-us" class="row section">

  <div class="row">
    <img src="{{ site.baseurl }}public/img/members/new/team.jpg"/>
  </div>

  <br><br>

  <h1>About Us</h1>

  <div class="row">
    <br>
    <ul class="timeline">
      <li>
        <div class="timeline-badge">OCT <span class="day">10</span> 2014</div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">First Logic Model</h4>
            <!-- <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p> -->
          </div>
          <div class="timeline-body">
            <img src="{{ site.baseurl }}public/img/about/bothers.png">
            The first logic model for MakerGirl is created after challenged to think about ‘what bothers you’ and to create a program that counteracts what bothers us
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge">OCT <span class="day">15</span> 2014</div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Clump Day</h4>
          </div>
          <div class="timeline-body">
            <img src="{{ site.baseurl }}public/img/about/success.png">
            Elizabeth Engele, Julia Haried, Sophie Li, and Emily Woodward meet on ‘Clump Day” and a team forms around the idea of MakerGirl
          </div>
        </div>
      </li>

      <li>
        <div class="timeline-badge">DEC <span class="day">2</span> 2014</div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">First Pilot Session</h4>
          </div>
          <div class="timeline-body">
            <img src="{{ site.baseurl }}public/img/about/pilot.png">
            Introduces 6 new sessions for the Spring semester and all sessions sell out!
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge">MAR <span class="day">26</span> 2015</div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">iVenture Accelerator</h4>
          </div>
          <div class="timeline-body">
            <img src="{{ site.baseurl }}public/img/about/iventure.png">
            MakerGirl accepted into iVenture Accelerator
            MakerGirl receives support from <a href="http://www.johnsoncontrols.com" target="_blank">Johnson Controls</a>
            MakerGirl featured on <a href="https://youtu.be/IZqCwZmW7oM" target="_blank">TV</a>
          </div>
        </div>
      </li>

      <li>
        <div class="timeline-badge">JUL <span class="day">18</span> 2015</div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Southern Illinois Session</h4>
          </div>
          <div class="timeline-body">
            <img src="{{ site.baseurl }}public/img/about/siu.png">
            MakerGirl performs a pilot session in Southern Illinois
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge">OCT <span class="day">14</span> 2015</div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">501(c)3 Application</h4>
          </div>
          <div class="timeline-body">
            <img src="{{ site.baseurl }}public/img/about/501c3.png">
            MakerGirl officially receives 501(c)3 status
          </div>
        </div>
      </li>

      <li>
        <div class="timeline-badge">OCT <span class="day">17</span> 2015</div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Preemadonna and That’s What She Said</h4>
          </div>
          <div class="timeline-body">
            <a href="http://www.preemadonna.com" target="_blank">Preemadonna</a> and <a href="http://shesaidproject.com" target="_blank">That’s What She Said</a> partners for two sessions!
          </div>
        </div>
      </li>
    </ul>
    <br>
  </div>

  <div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-10">
      <p>In August of 2014, four diverse, young women began a Social Entrepreneurship class led by Noah Isserman and Ryan Singh at the University of Illinois, Champaign-Urbana.  Little did the women know, they would start a movement that would impact their own life trajectories in addition to the life trajectories of young girls and women in their dreams for a creating a promising future.</p>

      <p>Mid-way into the semester, they were posed and challenged with a simple question,</p>

      <h2>“What bothers you?”</h2>

      <p>One of the four group members, Elizabeth Engele, immediately thought of some of her peers. On a campus that offered limitless opportunities for female students to make anything of themselves, she noticed and found herself oftentimes discussing meaningless, non-opportunistic topics.  She hoped there was more to campus life and her future career. Julia Haried quickly drew from her past research about the lack of women in C-suite positions. Their conversation moved to, “why is that?” and “What can we do to change these issues?”</p>

      <p>From this inspiration, Engele, Haried, Sophie Li, and Emily Woodward created MakerGirl--a mission driven program about more than 3D printing. MakerGirl seeks to inspire young girls to be active in Science, Technology, Engineering, and Math (STEM) and to continue to say “Yes!” to future challenges by offering design and 3D printing workshops.</p>

      <p>The first session was piloted in November of 2014 with seven 7-10 year old girls from the Champaign-Urbana community. From its inception, MakerGirl has gone on to provide classes for girls across the State of Illinois. Whether it be a beaming smile on a MakerGirl’s face as she watches her design come to life on a 3D printer or witnessing our own team members embrace and “lean in” to their leadership positions, we have had moments that continue to inspire us to create programs that support our mission and vision. We invite you to question what it means to be a  “Maker” in your own life and join and support us in this movement.</p>
    </div>

    <div class="col-md-1"></div>
  </div>

  <br><br>

  <h1>Board of Advisors</h1>

  <br>

  <div class="cards">
    {% for member in site.data.boa %}
      {% assign loopindex2 = forloop.index | modulo: 2 %}
      {% assign loopindex3 = forloop.index | modulo: 3 %}

      {% if loopindex3 == 1 %}
        <div class="row">
      {% endif %}

      {% if member.name %}
        <div class="col-md-4">
          <div class="person {{ member.name.first | downcase }} boa">
            <a href="{{ site.baseurl }}{{ member.name.first | downcase }}" target="_blank">
        			<div class="card">
        				<img src="{{ site.baseurl }}public/img/members/{% if member.photo %}{{ member.photo }}{% else %}{{ member.name.first | downcase }}.png{% endif %}" alt="">
        				<!-- <div class="front"></div>
        				<div class="back"></div> -->
        			</div>
            </a>
      			<span class="name">{{ member.name.first }} {{ member.name.last }}</span>
      			<span class="position">{{ member.position }}</span>
      		</div>
        </div>
      {% endif %}

      {% if loopindex3 == 0 %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <br>

  <h1>The Team</h1>

  <br>

  <div class="cards">
    {% for member in site.data.members %}
      {% assign loopindex2 = forloop.index | modulo: 2 %}
      {% assign loopindex4 = forloop.index | modulo: 4 %}

      {% if loopindex4 == 1 %}
        <div class="row">
      {% endif %}

      {% if member.name %}
        <style>
          .{{ member.name.first | downcase }}:hover .card img {
            content:url("{{ site.baseurl }}public/img/members/illustrations/{{ member.name.first | downcase }}.jpg");
          }
        </style>

        <div class="col-md-3">
          <div class="person {{ member.name.first | downcase }} {% if loopindex2 == 0 %} even {% else %} odd {% endif%}">
            <a href="{{ site.baseurl }}{{ member.name.first | downcase }}" target="_blank">
        			<div class="card">
        				<img src="{{ site.baseurl }}public/img/members/{% if member.photo %}{{ member.photo }}{% else %}{{ member.name.first | downcase }}.png{% endif %}" alt="">
        				<!-- <div class="front"></div>
        				<div class="back"></div> -->
        			</div>
            </a>
      			<span class="name">{{ member.name.first }} {{ member.name.last }}</span>
      			<span class="position">{{ member.position }}</span>
      		</div>
        </div>
      {% endif %}

      {% if loopindex4 == 0 %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
