---
layout: project-wide
title: About
---

<div id="about-us">
  <div id="splash" class="row">
    <!-- <img src="{{ site.baseurl }}public/img/members/new/team.jpg"/> -->

    <span>
      <h5>How it all started</h5>
      <h1>This is our story</h1>
      <br>
    </span>
  </div>

  <div class="container project">
    <div class="row section scrollspyhook">
      <br><br>

      <h3>About Us</h3>

      <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-10">
          <p>In August of 2014, four diverse, young women began a Social Entrepreneurship class led by Noah Isserman and Ryan Singh at the University of Illinois, Champaign-Urbana.  Little did the women know, they would start a movement that would impact their own life trajectories in addition to the life trajectories of young girls and women in their dreams for a creating a promising future.</p>

          <p>Mid-way into the semester, they were posed and challenged with a simple question,</p>

          <h2>“What bothers you?”</h2>

          <p>One of the four group members, Elizabeth Engele, immediately thought of some of her peers. On a campus that offered limitless opportunities for female students to make anything of themselves, she noticed and found herself oftentimes discussing meaningless, non-opportunistic topics.  She hoped there was more to campus life and her future career. Julia Haried quickly drew from her past research about the lack of women in C-suite positions. Their conversation moved to, “why is that?” and “What can we do to change these issues?”</p>

          <p>From this inspiration, Engele, Haried, Sophie Li, and Emily Woodward created MakerGirl--a mission driven program about more than 3D printing. MakerGirl seeks to inspire young girls to be active in Science, Technology, Engineering, and Math (STEM) and to continue to say “Yes!” to future challenges by offering design and 3D printing workshops.</p>

          {% include project/timeline.html %}

          <p>The first session was piloted in November of 2014 with seven 7-10 year old girls from the Champaign-Urbana community. From its inception, MakerGirl has gone on to provide classes for girls across the State of Illinois. Whether it be a beaming smile on a MakerGirl’s face as she watches her design come to life on a 3D printer or witnessing our own team members embrace and “lean in” to their leadership positions, we have had moments that continue to inspire us to create programs that support our mission and vision. We invite you to question what it means to be a  “Maker” in your own life and join and support us in this movement.</p>
        </div>

        <div class="col-md-1"></div>
      </div>

      <br><br>

      <h3>The Team</h3>

      <br>

      <div class="cards">
        {% for member in site.data.members %}
          {% assign loopindex2 = forloop.index | modulo: 2 %}
          {% assign loopindex4 = forloop.index | modulo: 4 %}

          {% if loopindex4 == 1 %}
            <div class="row">
          {% endif %}

          {% if member.name %}
            <style>
              .{{ member.name.first | downcase }}:hover .card img {
                content:url("{{ site.baseurl }}public/img/members/illustrations/{{ member.name.first | downcase }}.jpg");
              }
            </style>

            <div class="col-xs-6 col-md-3">
              <div class="person {{ member.name.first | downcase }} {% if loopindex2 == 0 %} even {% else %} odd {% endif%}">
                <a href="{{ site.baseurl }}{{ member.name.first | downcase }}" target="_blank">
            			<div class="card">
            				<img src="{{ site.baseurl }}public/img/members/{% if member.photo %}{{ member.photo }}{% else %}{{ member.name.first | downcase }}.png{% endif %}" alt="">
            				<!-- <div class="front"></div>
            				<div class="back"></div> -->
            			</div>
                </a>
          			<span class="name">{{ member.name.first }} {{ member.name.last }}</span>
          			<span class="position">{{ member.position }}</span>
          		</div>
            </div>
          {% endif %}

          {% if loopindex4 == 0 %}
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <br>

      <h3>Board of Advisors</h3>

      <br>

      <div class="cards">
        {% for member in site.data.boa %}
          {% assign loopindex2 = forloop.index | modulo: 2 %}
          {% assign loopindex3 = forloop.index | modulo: 3 %}

          {% if loopindex3 == 1 %}
            <div class="row">
          {% endif %}

          {% if member.name %}
            <div class="col-md-4">
              <div class="person {{ member.name.first | downcase }} boa">
                <a href="{{ site.baseurl }}{{ member.name.first | downcase }}" target="_blank">
            			<div class="card">
            				<img src="{{ site.baseurl }}public/img/members/{% if member.photo %}{{ member.photo }}{% else %}{{ member.name.first | downcase }}.png{% endif %}" alt="">
            				<!-- <div class="front"></div>
            				<div class="back"></div> -->
            			</div>
                </a>
          			<span class="name">{{ member.name.first }} {{ member.name.last }}</span>
          			<span class="position">{{ member.position }}</span>
          		</div>
            </div>
          {% endif %}

          {% if loopindex3 == 0 %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
