---
layout: default
title: Home
---

<!-- After every section, add a solid border line corresponding to the section color -->

{% include index/home.html %}

<!-- <div class="container"> -->
  <!-- {% include index/section.html %} -->

  {% include index/intro.html %}
  {% include index/video.html %}
  {% include index/mission_vision.html %}
  {% include index/events.html %}
  {% include index/donate.html %}
  {% include index/image_break.html %}
  {% include index/featured.html %}
  <br><br>
<!-- </div> -->
