---
layout: default
title: Home
---

<div classs="container-fluid">
  <div id="home" class="row section">
    <!-- <div class="gears-section">
      <img src="public/gear2.png"/>
      <img src="public/gear3.png"/>
      <img src="public/gear4.png"/>
      <img src="public/gear5.png"/>
    </div> -->

    <div class="main-section">
      <img src="public/mg-logo.png"/>
      <h1>Let's create and play more</h1>
      <a href="http://www.eventbrite.com/o/makergirl-8181692733">
        <button type="button" class="btn btn-default btn-lg">
          Sign-up for our sessions here!
        </button>
      </a>
    </div>
  </div>

  <div id="video" class="row section">
    <div class="container">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WCAM7iw8__k?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div id="about-us" class="row section">
    <div class="container">
      <h1>About Us</h1>

      <p>MakerGirl is a program led by University of Illinois students that educates 7-10 year old girls on STEM (Science, Technology, Engineering, Mathematics) fields through 3-D printing workshops at the College of Business MakerLab, creative activities, and lessons on leading women in STEM fields.</p>

      <h2>Vision</h2>
      <p>There will be gender equality in number, pay, and expectation in all STEM workplaces.</p>

      <h2>Mission</h2>
      <p>By 2025, there will be an equal number of women and men involved in STEM K-12 education programs and pursuing STEM degrees.</p>

      {% for member in site.data.members %}
        {% assign loopindex = forloop.index | modulo: 3 %}

        {% if loopindex == 1 %}
          <div class="row">
        {% endif %}

        <div class="col-md-4">
          <h1>{{ member.name }}</h1>
          <div>
            <img src="public/img/{% if member.photo %}{{ member.photo }}{% else %}{{ member.name | downcase }}.png{% endif %}" class="img img-responsive full-width"/>
          </div>
          <span class="row">
            <span class="badge">
              <a href="mailto:{{ member.email }}?Subject=Hi%20{{ member.name }}" target="_top"><span class="glyphicon glyphicon-envelope"></span></a></p>
            </span>
          </span>
          <p>{{ member.bio }}</p>
        </div>

        {% if loopindex == 0 %}
          </div>
        {% endif %}
      {% endfor %}

    </div>
  </div>

  <div id="events" class="row section">
    <div class="container">
      <h1>Events</h1>

      <div class="row">
        <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=Business+Instructional+Facility,+East+Gregory+Drive,+Champaign,+IL,+United+States&key=AIzaSyBxXhTfZYFacSr6nRmTT9zabPhPwSmj_HE"></iframe>
      </div>

      <br>

      <div class="row">
        <h1>Location</h1>
        The Business Instructional Facility <br>
        515 East Gregory Avenue Champaign, IL <br>
        Room 3030 <br>
        <i>Enter via the east entrance and use the stairs directly after the first set of doors to your right for easiest entry.</i>
      </div>

      <br>

      <div class="row">
        <h1>Maker Girl Summer Sessions</h1>
        <p>We are really excited to continue teaching girls about STEM this Summer through the following five unique programs. When signing up, it is imperative that you complete the Eventbrite (linked in the title of each session) and this UIUC form. It is imperative that you fill out the <a href="https://illinois.edu/sb/sec/1346930">UIUC form</a> one time for every girl that you sign up. Information about scholarships is given in the UIUC form. Looking forward to seeing you and your MakerGirls this Summer!</p>
      </div>

      <div class="row">
        {% for event in site.data.events %}
          {% assign loopindex = forloop.index | modulo: 2 %}
          {% if loopindex == 1 %}
            <div class="row">
              <div class="col-md-6">
                <img src="{{ event.image }}"/>
              </div>
              <div class="col-md-6">
                <a href="{{ event.link }}">{{ event.name }}</a><br>
                <!-- <span>Branch {{ event.level }}</span> -->
                <p>{{ event.description }}</p>
              </div>
            </div>
          {% else %}
            <div class="row">
              <div class="col-md-6">
                <a href="{{ event.link }}">{{ event.name }}</a><br>
                <!-- <span>Branch {{ event.level }}</span> -->
                <p>{{ event.description }}</p>
              </div>
              <div class="col-md-6">
                <img src="{{ event.image }}"/>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div id="activities" class="row section">
    <div class="container">
      <h1>Archive</h1>
      ???
    </div>
  </div>

  <!-- <div id="contact-us" class="row section">
    <div class="container">
      <h1>Contact Us</h1>
      <div class="row">
        <div class="col-md-6">
          <h1>Social Media</h1>
          <a href="https://www.facebook.com/makergirl.uiuc">Facebook</a><br>
          <a href="https://twitter.com/MakerGirl_UIUC">Twitter</a><br>
          <a href="https://instagram.com/makergirl.uiuc/">Instagram</a><br>
          <a href="mailto:makergirl.uiuc@gmail.com?Subject=Hello%20there" target="_top">Email</a><br>
        </div>

        <div class="col-md-6">
          <h1>Mailing Address</h1>
          MakerGirl <br>
          1505 S Broadway Avenue, Unit 4 <br>
          Urbana, IL 61820 <br>
          Phone: (630)-577-7742
        </div>
      </div>
    </div>
  </div> -->
</div>
