---
layout: default
title: Home
---

<div id="home" class="row section">
  <div class="main-section">
    <img src="public/mg-logo.png"/>
    <h1>{{ site.tagline }}</h1>

    <br>

    <a href="http://www.eventbrite.com/o/makergirl-8181692733">
      <button type="button" class="btn btn-default btn-lg">
        Sign-up for our sessions here!
      </button>
    </a>
  </div>
</div>

<div class="container">
  <div id="video" class="row section">
    <div class="container-fluid">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WCAM7iw8__k?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div id="about-us" class="row section">
    <div class="container-fluid">
      <h1>About Us</h1>

      <div class="row">
        Maybe a group photo here?
      </div>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p>MakerGirl is a program led by University of Illinois students that educates 7-10 year old girls on STEM (Science, Technology, Engineering, Mathematics) fields through 3-D printing workshops at the College of Business MakerLab, creative activities, and lessons on leading women in STEM fields.</p>
        </div>
        <div class="col-md-3"></div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h2>Vision</h2>
          <p>There will be gender equality in number, pay, and expectation in all STEM workplaces.</p>
        </div>

        <div class="col-md-6">
          <h2>Mission</h2>
          <p>By 2025, there will be an equal number of women and men involved in STEM K-12 education programs and pursuing STEM degrees.</p>
        </div>
      </div>

      {% for member in site.data.members %}
        {% assign loopindex = forloop.index | modulo: 3 %}

        {% if loopindex == 1 %}
          <div class="row">
        {% endif %}

        <div class="col-md-4">
          <div class="mg-member">
            <img src="public/img/{% if member.photo %}{{ member.photo }}{% else %}{{ member.name.first | downcase }}.png{% endif %}" class="img img-responsive full-width"/>
            <span>
              {% if member.name %}
                <center><span class="name">{{ member.name.first }} {{ member.name.last }}</span></center>
                <br><br>
              {% endif %}
              {% if member.bio %}
              {{ member.bio }}
              {% endif %}
            </span>
          </div>

          {% if member.name.first %}
          <h1>{{ member.name.first }}</h1>
          {% endif %}

          <span>
            {% if member.linkedin %}
            <span class="badge">
              <a href="{{ member.linkedin }}"><span class="fa fa-linkedin"></span></a></p>
            </span>
            {% endif %}
            {% if member.email %}
            <span class="badge">
              <a href="mailto:{{ member.email }}?Subject=Hi%20{{ member.name.first }}" target="_top"><span class="glyphicon glyphicon-envelope"></span></a></p>
            </span>
            {% endif %}
          </span>

          <br><br>
        </div>

        {% if loopindex == 0 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div id="events" class="row section">
    <div class="container-fluid">
      <h1>Events</h1>

      <div class="row">
        <div class="col-md-12">
          <iframe width="100%" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=Business+Instructional+Facility,+East+Gregory+Drive,+Champaign,+IL,+United+States&key=AIzaSyBxXhTfZYFacSr6nRmTT9zabPhPwSmj_HE"></iframe>
        </div>
      </div>

      <br>

      {% for info in site.data.events_info %}
      <div class="row">
        <div class="container-fluid">
          <h1>{{ info.header}}</h1>

          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">{{ info.info }}</div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
      <br>
      {% endfor %}

      <div class="row">
        <div class="col-md-12">
          {% for event in site.data.events %}
            <div class="row">
              <div class="col-md-6">
                <img src="{{ event.image }}"/>
                <br><br>
              </div>
              <div class="col-md-6">
                <a href="{{ event.link }}"><h1>{{ event.name }}</h1></a><br>
                <p>{{ event.description }}</p>
              </div>
            </div>
            <br><br>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div id="activities" class="row section">
    <div class="container-fluid">
      <h1>Archive</h1>
      These are the past newsletters:
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <ul>
          {% for newsletter in site.data.newsletters %}
            <li><a href="{{ newsletter.link }}">{{ newsletter.link }}</a></li>
          {% endfor %}
          </ul>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>
