---
layout: minimum
title: Pre-Session Activity
---

<link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
<script src="//twemoji.maxcdn.com/2/twemoji.min.js"></script>

<style>
  * {
    -webkit-font-smoothing: antialiased;
  }

  html {
    font-family: 'Open Sans', sans-serif;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ce0b7b;
    color: #f6f1df;
  }
</style>


<div id="activity">
  {% include project/activity/presurvey.html %}
  {% include project/activity/splash.html %}
  {% include project/activity/instructions.html %}
  {% include project/activity/test.html %}
</div>

<script src="{{ site.baseurl }}bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="{{ site.baseurl }}bower_components/moment/min/moment.min.js"></script>
<script src="{{ site.baseurl }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="{{ site.baseurl }}public/js/activity.js"></script>

<script type="text/javascript">
  $(function () {
    $('#birthday').datetimepicker({
      format: 'MM//DD/YYYY'
   });
  });

  $('.emoji').each(function() {
    $(this).html(twemoji.parse($(this).html()));
  });

  function submitSurvey() {
    $('#activity-survey').hide();
    $('#activity-splash').show();

    console.log($('#activity-survey').serializeArray());
    return false;
  }

  function showInstructions() {
    $('#activity-splash').hide();
    $('#activity-instructions').show();
  }

  function startDemo() {
    $('#activity-instructions').hide();
    $('#activity-test').show();
  }
</script>
