<footer class="footer">
  <div class="container">
    <center>
      <div class="row">
        <a class="btn btn-social-icon" href="{{ site.facebook }}" target="_blank">
          <span class="fa fa-facebook"></span>
        </a>
        <a class="btn btn-social-icon" href="{{ site.twitter }}" target="_blank">
          <span class="fa fa-twitter"></span>
        </a>
        <a class="btn btn-social-icon" href="{{ site.instagram }}" target="_blank">
          <span class="fa fa-instagram"></span>
        </a>
        <a class="btn btn-social-icon" href="{{ site.linkedin }}" target="_blank">
          <span class="fa fa-linkedin"></span>
        </a>
        <a class="btn btn-social-icon" href="{{ site.youtube }}" target="_blank">
          <span class="fa fa-youtube"></span>
        </a>
      </div>

      <div class="row">
        <a href="{{ site.baseurl }}about">About</a> |
        <a href="{{ site.baseurl }}press">Press</a> |
        <a href="{{ site.baseurl }}donate">Donate</a> |
        <a href="mailto:info@makergirl.us?Subject=Hello%20there" target="_top">Email</a> |
        <a href="{{ site.baseurl }}search">Search</a> |
        <!-- <a href="http://bit.ly/subscribemakergirl">Subscribe</a> -->
        <a href="javascript:loadPopup()">Subscribe</a> |
        <a href="{{ site.baseurl }}faq">FAQ</a>
      </div>

      <div class="row">
        <a href="{{ site.baseurl }}scholarship">Scholarship</a> |
        <a href="{{ site.baseurl }}map">Map</a> |
        <a href="{{ site.baseurl }}analytics">Analytics</a> |
        <a href="{{ site.baseurl }}resources">Resources</a> |
        <a href="{{ site.baseurl }}partners">Partners</a>
      </div>

      <br>

      <div class="row">
        MakerGirl<br>
        A 501(c)3 Nonprofit Organization<br><br>
        PO 2580<br>
        Champaign, IL 61820 <br>
      </div>

      <br>

      <!-- <div class="row">
        <img src="{{ site.baseurl }}public/cob.png"/>
        <br><br>
        <img src="{{ site.baseurl }}public/makerlab.png"/>
      </div> -->

      <br>

      <div class="row copyright">
        © Copyright 2016 MakerGirl. All Rights Reserved.
      </div>

      <div class="row heart">
        Made with ♥ by <a href="https://josephmilla.com/" target="_blank">Joseph</a>
      </div>
    </center>
  </div>
</footer>

<script src="{{ site.baseurl }}bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="{{ site.baseurl }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script src="{{ site.baseurl }}public/js/navbar.js"></script>
<script src="{{ site.baseurl }}public/js/popup.js"></script>
<script src="{{ site.baseurl }}public/js/script.js"></script>

{% include ga.html %}
