<footer class="footer">
  <div class="container">
    <center>
      <div class="row">
        <a class="btn btn-social-icon" href="https://www.facebook.com/makergirl.uiuc">
          <span class="fa fa-facebook"></span>
        </a>
        <a class="btn btn-social-icon" href="https://twitter.com/MakerGirl_UIUC">
          <span class="fa fa-twitter"></span>
        </a>
        <a class="btn btn-social-icon" href="https://instagram.com/makergirl.uiuc/">
          <span class="fa fa-instagram"></span>
        </a>

      </div>

      <div class="row">
        <a href="mailto:makergirl.uiuc@gmail.com?Subject=Hello%20there" target="_top">Email</a> |
        <a href="https://docs.google.com/forms/d/1Vtdjba8s4T0INxl1Mdd_566elt4MLHhVBtP4M9Vojsg/viewform">Subscribe</a>
      </div>

      <br>

      <div class="row copyright">
        © Copyright 2015 MakerGirl. All Rights Reserved.
      </div>
    </center>
  </div>
</footer>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="public/js/script.js"></script>
<script src="public/js/ga.js"></script>
