<footer class="footer">
  <div class="container">
    <center>
      <div class="row">
        <a class="btn btn-social-icon" href="https://www.facebook.com/makergirl.uiuc">
          <span class="fa fa-facebook"></span>
        </a>
        <a class="btn btn-social-icon" href="https://twitter.com/MakerGirl_UIUC">
          <span class="fa fa-twitter"></span>
        </a>
        <a class="btn btn-social-icon" href="https://instagram.com/makergirl.uiuc/">
          <span class="fa fa-instagram"></span>
        </a>
        <a class="btn btn-social-icon" href="https://www.linkedin.com/company/makergirl">
          <span class="fa fa-linkedin"></span>
        </a>
      </div>

      <div class="row">
        <a href="mailto:info@makergirl.us?Subject=Hello%20there" target="_top">Email</a> |
        <!-- <a href="http://bit.ly/subscribemakergirl">Subscribe</a> -->
        <a href="javascript:loadPopup()">Subscribe</a>
      </div>

      <br>

      <div class="row">
        MakerGirl <br>
        1505 S Broadway Avenue, Unit 4 <br>
        Urbana, IL 61820 <br>
      </div>

      <br>

      <!-- <div class="row">
        <img src="{{ site.baseurl }}public/cob.png"/>
        <br><br>
        <img src="{{ site.baseurl }}public/makerlab.png"/>
      </div> -->

      <br>

      <div class="row copyright">
        © Copyright 2015 MakerGirl. All Rights Reserved.
      </div>
    </center>
  </div>
</footer>

<script src="{{ site.baseurl }}bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="{{ site.baseurl }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}bower_components/ScrollMagic/scrollmagic/minified/ScrollMagic.min.js"></script>
<script src="{{ site.baseurl }}bower_components/ScrollMagic/scrollmagic/minified/plugins/jquery.ScrollMagic.min.js"></script>
<script src="{{ site.baseurl }}bower_components/ScrollMagic/scrollmagic/minified/plugins/animation.gsap.min.js"></script>
<script src="{{ site.baseurl }}bower_components/ScrollMagic/scrollmagic/minified/plugins/animation.velocity.min.js"></script>
<script src="{{ site.baseurl }}bower_components/ScrollMagic/scrollmagic/minified/plugins/debug.addIndicators.min.js"></script>
<script src="{{ site.baseurl }}bower_components/chartist/dist/chartist.min.js"></script>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script src="{{ site.baseurl }}public/js/navbar.js"></script>
<script src="{{ site.baseurl }}public/js/popup.js"></script>
<script src="{{ site.baseurl }}public/js/script.js"></script>
<script src="{{ site.baseurl }}public/js/project/analytics.js"></script>

{% include ga.html %}
