<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top mg-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mg-navbar-target" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">
          <a href="/"><img src="{{ site.baseurl }}public/mg-logo-horizontal.png" width=150/></a>
        </span>
      </div>

      <div class="collapse navbar-collapse" id="mg-navbar-target">
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="/" style="border-color: #FFCC00;">Home</a></li>
          <li><a href="#about-us" style="border-color: #FF3B19;">About Us</a></li>
          <li><a href="#events" style="border-color: #99CC00;">Events</a></li>
          <li><a href="#activities" style="border-color: #0066FF;">Activities</a></li>
          <li><a href="#contact-us" style="border-color: #990066;">Contact Us</a></li> -->

          <li><a href="#home">Home</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#donate">Donate</a></li>
          <li><a href="#featured">News</a></li>
          <li><a id="blog" href="{{ site.baseurl }}blog">Blog</a></li>
          <li><a id="about" href="{{ site.baseurl }}about">About</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="social">
                <a href="{{ site.facebook }}" data-placement="bottom" title="Facebook" target="_blank">
                  <span class="fa fa-facebook"></span> Facebook
                </a>
              </li>
              <li class="social">
                <a href="{{ site.twitter }}" data-placement="bottom" title="Twitter" target="_blank">
                  <span class="fa fa-twitter"></span> Twitter
                </a>
              </li>
              <li class="social">
                <a href="{{ site.instagram }}" data-placement="bottom" title="Instagram" target="_blank">
                  <span class="fa fa-instagram"></span> Instagram
                </a>
              </li>
              <li class="social">
                <a href="{{ site.linkedin }}" data-placement="bottom" title="LinkedIn" target="_blank">
                  <span class="fa fa-linkedin"></span> LinkedIn
                </a>
              </li>
              <li class="social">
                <a href="{{ site.youtube }}" data-placement="bottom" title="YouTube" target="_blank">
                  <span class="fa fa-youtube"></span> YouTube
                </a>
              </li>
              <li class="social">
                <!-- <a href="http://bit.ly/subscribemakergirl" data-placement="bottom" title="Newsletter" target="_blank">
                  <span class="glyphicon glyphicon-list-alt"></span>
                </a> -->
                <a href="javascript:loadPopup()" data-placement="bottom" title="Newsletter" target="_blank">
                  <span class="fa fa-newspaper-o"></span> Newsletter
                </a>
              </li>
              <li class="social">
                <a href="mailto:info@makergirl.us?Subject=Hello%20there" target="_top" data-placement="bottom" title="Email">
                  <span class="fa fa-envelope-o"></span> Email
                </a>
              </li>
            </ul>
          </li>



        </ul>
      </div>
    </div>
  </nav>
</div>
