<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top mg-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mg-navbar-target" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="public/mg-logo-horizontal.png" width=150/>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="mg-navbar-target">
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="/" style="border-color: #FFCC00;">Home</a></li>
          <li><a href="#about-us" style="border-color: #FF3B19;">About Us</a></li>
          <li><a href="#events" style="border-color: #99CC00;">Events</a></li>
          <li><a href="#activities" style="border-color: #0066FF;">Activities</a></li>
          <li><a href="#contact-us" style="border-color: #990066;">Contact Us</a></li> -->

          <li><a href="#home">Home</a></li>
          <li><a href="#about-us">About Us</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#activities">Archive</a></li>
          <!-- <li><a href="#contact-us">Contact Us</a></li> -->
          <li class="social">
            <a href="https://www.facebook.com/makergirl.uiuc">
              <span class="fa fa-facebook"></span>
            </a>
          </li>
          <li class="social">
            <a href="https://twitter.com/MakerGirl_UIUC">
              <span class="fa fa-twitter"></span>
            </a>
          </li>
          <li class="social">
            <a href="https://instagram.com/makergirl.uiuc/">
              <span class="fa fa-instagram"></span>
            </a>
          </li>
          <li class="social">
            <a href="https://docs.google.com/forms/d/1Vtdjba8s4T0INxl1Mdd_566elt4MLHhVBtP4M9Vojsg/viewform">
              <span class="glyphicon glyphicon-list-alt"></span>
            </a>
          </li>
          <li class="social">
            <a href="mailto:makergirl.uiuc@gmail.com?Subject=Hello%20there" target="_top">
              <span class="glyphicon glyphicon-envelope"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
