#profile {
  h1 {
    text-align: center;
    text-transform: none;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;

    a {
      text-align: inherit;
      text-transform: inherit;
      color: inherit;
    }
  }
}
