/**
 * Project
 * - Project-based pages
 */

$screen-edge-case: 420px;

.project {
  .mg-navbar {
    visibility: visible !important;

    .flip {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }

    .navbar-brand {
      img {
        display: inline-block !important;
      }

      .subtitle {
        font-weight: 100;
        text-transform: capitalize;
        color: #FFFFFF;
        font-size: 21px;
        letter-spacing: 5px;
      }

      .separator {
        font-weight: 100;
        color: #FFFFFF;
      }

      a {
        text-decoration: none;
        color: #FFFFFF;
      }

      @include media-query($screen-edge-case) {
        .subtitle {
          display: none;
        }

        .separator {
          display: none;
        }
      }
    }
  }

  .section {
    margin-left: 10px;
    margin-right: 10px;
  }

  h2 {
    font-family: inherit;
    font-size: 24px;
    font-weight: 300;
  }

  @include media-query($screen-sm-min) {
    h2 {
      font-size: 18px;
    }
  }

  p {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
  }

  @include media-query($screen-sm-min) {
    p {
      font-size: 14px;
    }
  }

  .link {
    text-decoration: none;
    border-bottom: 3px solid;
    font-weight: 600;
  }
}

.project-section {
  min-height: 50vh;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;

  img {
    width: 100%;
    max-width: 100%;
  }

  p {
    font-family: inherit !important;
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
  }

  @include media-query($screen-sm-min) {
    p {
      font-size: 14px;
    }
  }
}
