/**
 * _colors.scss
 * Color backgrounds
 */
 
.lightblue {
  background: #21a7b6;
  border-bottom: 1px solid #21a7b6;
  border-top: 1px solid #21a7b6;
}

.orange {
  background: #ff9633;
  border-bottom: 1px solid #ff9633;
  border-top: 1px solid #ff9633;
}

.yellow {
  background: #f7db42;
  border-bottom: 1px solid #f7db42;
  border-top: 1px solid #f7db42;
}

.green {
  background: #a0cf67;
  border-bottom: 1px solid #a0cf67;
  border-top: 1px solid #a0cf67;
}

.darkgreen {
  background: #0bce5e;
  border-bottom: 1px solid #0bce5e;
  border-top: 1px solid #0bce5e;
}

.red {
  background: #d83b34;
  border-bottom: 1px solid #d83b34;
  border-top: 1px solid #d83b34;
}

.blue {
  background: #0068dc;
  border-bottom: 1px solid #0068dc;
  border-top: 1px solid #0068dc;
}

.pastelblue {
  background: #0b7bce;
  border-bottom: 1px solid #0b7bce;
  border-top: 1px solid #0b7bce;
}

.pink {
  background: #ff4fa7;
  border-bottom: 1px solid #ff4fa7;
  border-top: 1px solid #ff4fa7;
}

.gray {
  background: #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}
