/**
 * Foot
 * - Footer styling
 */

.footer {
  //width: 100wh !important; // TODO: This is a bug
  background: #333333;
  min-height: 40vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  color: #FFFFFF;

  a {
    color: inherit;
  }

  .copyright {
    font-size: 12px;
  }

  .btn-social-icon {
    color: #FFFFFF;
  }
}
