.section {
  min-height: 100vh;
  padding-top: 15vh;
  text-align: center;
  // border-image: url("dot.png") 0 0 10 0 round round;
  border-top: 5px dotted;
  border-width: 10px;
  padding-top: 100px;
  padding-bottom: 100px;

  h1 {
    font-family: $font-4;
    text-align: center;
  }
}

/* Different border colors */

.section-1 {
  border-color: #FFCC00;
}

.section-2 {
  border-color: #FF3B19;
}

.section-3 {
  border-color: #99CC00;
}

.section-4 {
  border-color: #0066FF;
}

.section-5 {
  border-color: #990066;
}

.no-border-section {
  border: none;
}

#video {
  h2 {
    font-family: $font-4;
  }

  .background-box {
    font-size: 30px;
    font-family: $font-4;
    // background-color: #ce0b7b;
    background-color: #99CC00; //Green
    color: #FFFFFF;
    padding: 5px;
  }

}

#home {
  // background: #ce0b7b;
  background: #ce0b7b url("bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  text-align: center;
  overflow-y: auto;
  border: none;

  img {
    max-height: 50vh;
    max-width: 80%;
    margin-top: -30px;
  }

  h1 {
    color: #FFFFFF;
    font-family: $font-4;
    font-weight: 300;
    line-height: 1.5;
    padding-top: 40px;
  }

  @include media-query($screen-sm-min) {
    h1 {
      font-size: 42px;
    }
  }

  .gears-section {
    z-index: 10;
    height: 100vh;
  }

  .main-section {
    z-index: 5;
    height: 100vh;
  }
}

// @include media-query($screen-sm-min) {
//   #home {
//     background-position: 0% 0%;
//   }
// }

#about-us {
  .col-md-4 > div {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;

    img {
      position:absolute;
      min-width: 100%;
      min-height: 100%;
    }
  }

  .badge {
    font-size: 14px;
    font-weight: 400;
    border-radius: 10em;
    padding: 12px 12px;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
    height: 39px;
    width: 39px;
    background-color: $color-20;

    &:focus,
    &:hover {
      opacity: 0.75;
    }

    &:active {
      opacity: 0.90;
    }

    > a {
      color: #FFFFFF;

      &:focus,
      &:hover,
      &:active {
        opacity: 1;
      }
    }
  }

  .mg-member {
    > span {
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      color: #fff;
      z-index: 100;
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      transition: all 300ms ease-out;
      height: 100%;
      width: 100%;
      left: 0;
      opacity: 0;
      overflow: auto;
      padding: 15px;
      text-align: justify;

      &:focus,
      &:hover {
        opacity: 1;
      }

      .name {
        border-bottom: 5px solid;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 500;
      }
    }
  }
}

#events {
  .event-link {
    text-decoration: none;
    color: #000000;
    padding-bottom: 10px;
    border-bottom: 5px solid;
    border-color: transparent;

    &:focus,
    &:hover {
      opacity: 0.75;
      border-bottom: 5px solid;
      padding-bottom: 10px;
      border-color: $color-20;
    }

    &:active {
      opacity: 0.90;
      border-bottom: 5px solid;
      padding-bottom: 10px;
      border-color: $color-20;
    }
  }

  .overlay {
    background: transparent;
    position: relative;
    width: 100%;
    height: 450px; /* your iframe height */
    top: 450px;  /* your iframe height */
    margin-top: -450px;  /* your iframe height */
  }

  .mg-testimonial {
    > span {
      // background: rgba(0, 0, 0, 0.8);
      background: #FFFFFF;

      display: block;
      // color: #fff;
      color: #55437e;
      min-height: 100%;
      height: 300px;
      width: 100%;
      left: 0;
      overflow: auto;
      padding: 15px;
      margin-bottom: 30px;
      text-align: justify;
      font-size: 21px;
      line-height: 1.1;
      font-weight: 400;

      &:focus,
      &:hover {
        opacity: 0.75;
      }
    }

    .source {
      float: right;
      font-size: 15px;
      font-style: italic;
    }
  }

  .testimonial-1 {
    color: #55437e !important;
    background: rgba(85, 67, 126, 0.5) !important;
  }

  .testimonial-2 {
    color: #56c7da !important;
    background: rgba(86, 199, 218, 0.5) !important;
  }

  .testimonial-3 {
    color: #f16549 !important;
    background: rgba(241, 101, 73, 0.5) !important;
  }

  .testimonial-1,
  .testimonial-2,
  .testimonial-3 {
    > span {
      color: inherit;
    }
  }

}

#archive {
  .col-md-4 > div {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;

    img {
      position:absolute;
      min-width: 100%;
      min-height: 100%;
    }
  }

  .feature {
    > span {
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 3px;
      border-bottom: 1px solid #000000;
      padding-bottom: 15px;
    }

    img {
      max-height: 25vh;
      max-width: 80%;
      padding: 10px;
    }
  }

  .mg-newsletter {
    > span {
      // background: rgba(0, 0, 0, 0.8);
      position: absolute;
      color: #fff;
      z-index: 100;
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      transition: all 300ms ease-out;
      height: 100%;
      width: 100%;
      left: 0;
      opacity: 1;
      overflow: hidden;
      padding: 15px;
      text-align: justify;

      &:focus,
      &:hover {
        opacity: 0.75;
      }

      &:active {
        opacity: 0.90;
      }

      .month {
        // border-bottom: 5px solid;
        font-size: 24px;
        font-weight: 500;
        display: block;
        top: -30px;
      }

      .date {
        font-size: 64px;
        font-weight: 100;
        position: relative;
        top: -25px;
      }

      @include media-query($screen-md-min) {
        .month {
          font-size: 121px;
          top: 40px;
          position: relative;
        }

        .date {
          font-size: 400px;
          font-weight: 100;
          position: relative;
          top: -110px;
        }
      }

      @include media-query($screen-sm-min) {
        .month {
          font-size: 64px;
          position: relative;
          top: 10px;
        }

        .date {
          font-size: 144px;
          font-weight: 100;
          position: relative;
          top: -35px;
        }
      }
    }
  }
}

#donate {
  min-height: 60vh !important;

  a {
    text-decoration: none;
  }

  .background-box {
    font-size: 30px;
    font-family: $font-4;
    background-color: #6b489d;
    //background-color: #99CC00; Green
    color: #FFFFFF;
    padding: 5px;
  }
}
