.section {
  min-height: 100vh;
  padding-top: 15vh;
  text-align: center;

  h1 {
    font-family: $font-3;
    text-align: center;
  }

  // border: 5px dotted $color-20;
  // border-image: url("dot.png") 5 repeat;
}

#home {
  // background: #ce0b7b;
  background: #ce0b7b url("bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  text-align: center;
  overflow-y: auto;

  img {
    max-height: 50vh;
    max-width: 80%;
  }

  h1 {
    color: #FFFFFF;
    font-family: $font-2;
    font-weight: 300;
    line-height: 1.5;
    padding-top: 50px;
  }

  @include media-query($on-palm) {
    h1 {
      font-size: 42px;
    }
  }

  .gears-section {
    z-index: 10;
    height: 100vh;
  }

  .main-section {
    z-index: 5;
    height: 100vh;
  }
}

#about-us {
  .col-md-4 > div {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;

    img {
      position:absolute;
      min-width: 100%;
      min-height: 100%;
    }
  }

  .badge {
    font-size: 14px;
    font-weight: 400;
    border-radius: 10em;
    padding: 12px 12px;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
    height: 39px;
    width: 39px;
    background-color: $color-20;

    &:focus,
    &:hover {
      opacity: 0.75;
    }

    &:active {
      opacity: 0.90;
    }

    > a {
      color: #FFFFFF;

      &:focus,
      &:hover,
      &:active {
        opacity: 1;
      }
    }
  }

  .mg-member {
    > span {
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      color: #fff;
      z-index: 100;
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      transition: all 300ms ease-out;
      height: 100%;
      width: 100%;
      left: 0;
      opacity: 0;
      overflow: auto;
      padding: 15px;
      text-align: justify;

      &:focus,
      &:hover {
        opacity: 1;
      }

      .name {
        border-bottom: 5px solid;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 500;
      }
    }
  }
}
