$color: #FFFFFF;

.mg-navbar {
  background: $color-20;
  border: none;
  height: 65px;
  visibility: hidden;
  font-family: $font-2;
  font-weight: 700;
  color: $color;
  text-transform: uppercase;

  .navbar-toggle {
    border-color: #FFFFFF !important;

    .icon-bar {
      background-color: #FFFFFF !important;
      width: 25px;
      height: 4px;
    }
  }

  .navbar-brand {
    font-size: 32px;
    font-weight: 800;
    color: $color;

    &:focus,
    &:hover {

    }

    &:active {

    }
  }

  .navbar-nav {
    > li {
      > a {
        color: $color !important;
        padding-top: 23px;
        background: $color-20;

        &:focus,
        &:hover {
          border-bottom: 5px solid;
          padding-bottom: 10px;
          color: rgba(255, 255, 255, 0.75);
          background: $color-20;
        }

        &:active {
          border-bottom: 5px solid;
          padding-bottom: 10px;
          color: rgba(255, 255, 255, 0.90);
          background: $color-20;
        }
      }

      > a[href="#home"] {
        border-color: #FFCC00;
      }

      > a[href="#about-us"] {
        border-color: #FF3B19;
      }

      > a[href="#events"] {
        border-color: #99CC00;
      }

      > a[href="#archive"] {
        border-color: #0066FF;
      }

      > a[href="#donate"] {
        border-color: #990066;
      }
    }

    .social {
      // padding-top: 15px;

      > span {
        border-bottom: none !important;
      }

      .glyphicon {
        font-size: 14px;
      }
    }

    > .active {
      background: $color-20;

      > a {
        border-bottom: 5px solid;
        padding-bottom: 10px;
        color: rgba(255, 255, 255, 0.75);
        background: $color-20;

        &:hover,
        &:focus {
          background: $color-20;
        }
      }

      > a[href="#home"] {
        border-color: #FFCC00;
      }

      > a[href="#events"] {
        border-color: #FF3B19;
      }

      > a[href="#archive"] {
        border-color: #99CC00;
      }

      > a[href="#donate"] {
        border-color: #0066FF;
      }

      > a[href="#about-us"] {
        border-color: #990066;
      }
    }
  }
}
