$color: #FFFFFF;

.mg-navbar {
  background: $color-20;
  border: none;
  height: 65px;

  .navbar-brand {
    font-size: 32px;
    font-weight: 800;
    color: $color;
    &:focus,
    &:hover {

    }
    &:active {

    }
  }
  .navbar-nav > li > a {
    color: $color !important;
    padding-top: 23px;

    &:focus,
    &:hover {
      border-bottom: 5px solid;
      padding-bottom: 10px;
      color: rgba(255, 255, 255, 0.75);
    }

    &:active {
      border-bottom: 5px solid;
      padding-bottom: 10px;
      color: rgba(255, 255, 255, 0.90);
    }
  }
}
