/**
 * _overlay.scss
 * Overlay Settings
 */
 
.overlay {
  margin-top: -150px;
}

.overlay-lg {
  margin-top: -200px;
}

.overlay-md {
  margin-top: -100px;
}

.overlay-xs {
  margin-top: -75px;
}

.overlay-sm {
  margin-top: -50px;
}
