/**
 * Section
 * - Section styling
 */
.section {
  min-height: 50vh;
  text-align: center;
  // border-image: url("dot.png") 0 0 10 0 round round;
  border-width: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: 'Roboto', sans-serif;

  h1 {
    font-family: inherit !important;
    font-size: 48px;
    font-weight: 300;
  }

  h2 {
    padding-top: 25px;
  }

  a {
    text-decoration: none;
  }
}

/* Different border colors */
// .section-1 {
//   border-top: 5px dotted;
//   border-color: #FFCC00;
// }
//
// .section-2 {
//   border-top: 5px dotted;
//   border-color: #FF3B19;
// }
//
// .section-3 {
//   border-top: 5px dotted;
//   border-color: #99CC00;
// }
//
// .section-4 {
//   border-top: 5px dotted;
//   border-color: #0066FF;
// }
//
// .section-5 {
//   border-top: 5px dotted;
//   border-color: #990066;
// }

.no-border-section {
  border: none;
}


/**
 * Overrides
 */
.break {
  z-index: -1;
  position: relative;
}

.white-wrapper {
  background: #ffffff;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
}
