/**
 * _slant.scss
 * Slanted Sections
 */
 
.slant {
  // position: absolute;
  top: 43px;
  left: 0;
  width: 100%;
  // height: 100%;
  z-index: 10;
  -webkit-transform: skew(0deg, -5deg);
  transform: skew(0deg, -5deg);
  outline: 1px solid transparent;
  box-sizing: content-box;
  margin: 0 auto;

  .content {
    -webkit-transform: skew(0deg, 5deg);
    transform: skew(0deg, 5deg);
    text-align: center;
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;

    h1 {
      font-family: inherit !important;
      font-size: 48px;
      font-weight: 300;
      white-space: nowrap;
    }

    @include media-query($screen-sm-min) {
      h1 {
        font-size: 34px;
      }
    }

    @include media-query($screen-iphone5) {
      h1 {
        font-size: 26px;
      }
    }

    h2 {
      font-family: inherit !important;
      font-size: 24px;
      font-weight: 300;
    }

    @include media-query($screen-sm-min) {
      h2 {
        font-size: 18px;
      }
    }

    p {
      font-family: inherit !important;
      font-size: 16px;
      font-weight: 500;
      margin-top: 20px;
    }

    @include media-query($screen-sm-min) {
      p {
        font-size: 14px;
      }
    }
  }
}
