/**
 * About Us
 * - Styling for the list of members
 */
#about-us {
  // Splash
  #splash {
    background: #ce0b7b url("team.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    text-align: center;
    overflow-y: auto;
    border: none;
    min-height: 100vh;
    position: relative;

    span {
      color: #FFFFFF;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      right: 0;

      h1 {
        text-transform: capitalize;
      }

      h5 {
        margin-top: 85px;
      }

      .fa {
        color: #FFFFFF;
        font-size: 50px;
      }
    }
  }


  // Basics
  p {
    font-family: 'PT Serif', serif;
    font-size: 26px;
    line-height: 39px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: left;

    @include media-query($screen-sm-min) {
      font-size: 19px;
      line-height: 29px;
      margin-bottom: 30px;
    }
  }

  h1 {
    font-family: "Helvetica Neue",Helvetica,"pragmatica-web",Arial,sans-serif;
    font-size: 79px;
    line-height: 82px;
    font-weight: 700;
    letter-spacing: -0.04em;
    margin-bottom: 75px;

    @include media-query($screen-sm-min) {
      font-size: 38px;
      line-height: 42px;
      margin-bottom: 48px;
    }
  }

  h2 {
    font-family: "Helvetica Neue",Helvetica,"pragmatica-web",Arial,sans-serif;
    font-size: 66px;
    line-height: 73px;
    font-weight: 700;
    letter-spacing: -0.04em;
    margin: 100px 0 130px;

    @include media-query($screen-sm-min) {
      font-size: 31px;
      line-height: 35px;
      margin: 60px 0 80px;
    }
  }

  h3 {
    font-family: inherit !important;
    font-size: 48px;
    font-weight: 300;

    @include media-query($screen-sm-min) {
      font-size: 34px;
    }
  }

  h5 {
    font-family: inherit !important;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: .5em;
    text-transform: uppercase;

    @include media-query($screen-sm-min) {
      font-size: 13px;
      margin-top: 40px;
    }
  }

  // Cards
  .cards {
      perspective: 1000;
      padding-bottom: 60px;
      *zoom: 1;
  }
  .cards:after,
  .cards:before {
      display: table;
      content: "";
      line-height: 0;
  }
  .cards:after {
      clear: both;
  }
  .card {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      -webkit-transition-duration: 600ms;
      -moz-transition-duration: 600ms;
      -o-transition-duration: 600ms;
      transition-duration: 600ms;
      -webkit-transition-delay: 150ms;
      -moz-transition-delay: 150ms;
      -o-transition-delay: 150ms;
      transition-delay: 150ms;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      position: relative;
  }
  .card img {
      height: 100%;
      width: 100%;
      border-radius: 25px;
  }
  .back,
  .front {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 25px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      outline: 1px solid transparent;
  }
  .front {
      z-index: 2;
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      transform: rotateY(0deg);
      min-width: 100%;
  }
  .back {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
      min-width: 100%;
  }
  .person {
      // width: 230px;
      float: left;
      text-align: center;
      // margin-right: 20px;
      margin-bottom: 40px;
      min-width: 100%;
  }
  .person .name {
      display: block;
      font-family: "Helvetica Neue", Helvetica, "pragmatica-web", Arial, sans-serif;
      font-size: 17px;
      font-weight: bold;
  }
  .person .info {
      font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
      font-size: 14px;
      color: #9b9b9b;
  }
  .person:hover .card {
      -webkit-transition-delay: 0;
      -moz-transition-delay: 0;
      -o-transition-delay: 0;
      transition-delay: 0;
  }
  .even:hover .card {
      -webkit-transform: rotateY(180deg) rotateZ(2.2846205849200487deg) scale(1.07);
      -moz-transform: rotateY(180deg) rotateZ(2.2846205849200487deg) scale(1.07);
      -ms-transform: rotateY(180deg) rotateZ(2.2846205849200487deg) scale(1.07);
      -o-transform: rotateY(180deg) rotateZ(2.2846205849200487deg) scale(1.07);
      transform: rotateY(180deg) rotateZ(2.2846205849200487deg) scale(1.07);
  }
  .odd:hover .card {
      -webkit-transform: rotateY(180deg) rotateZ(-0.7893703440204263deg) scale(1.07);
      -moz-transform: rotateY(180deg) rotateZ(-0.7893703440204263deg) scale(1.07);
      -ms-transform: rotateY(180deg) rotateZ(-0.7893703440204263deg) scale(1.07);
      -o-transform: rotateY(180deg) rotateZ(-0.7893703440204263deg) scale(1.07);
      transform: rotateY(180deg) rotateZ(-0.7893703440204263deg) scale(1.07);
  }
  .boa:hover .card {
      opacity: 0.75;
  }
  .boa:active .card {
      opacity: 0.90;
  }

  // Blockquote
  .blockquote {
      font-family: Merriweather, Georgia, 'Times New Roman', serif;
      font-size: 24px;
      color: $grey-color;
  }

  // Timeline
  .cd-horizontal-timeline {
    p {
      text-align: center;
    }
  }
}
