/**
 * Donate
 * - Donate section styling
 */
#donate {
  min-height: 60vh !important;

  a {
    text-decoration: none;
  }

//   .background-box {
//     font-size: 30px;
//     font-family: $font-4;
//     background-color: #6b489d;
//     //background-color: #99CC00; Green
//     color: #FFFFFF;
//     padding: 5px;
//   }

  .background-box {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    background-color: orange;
    font-weight: 600;
    //background-color: #99CC00; Green
    color: #FFFFFF;
    padding: 20px;
  }
}
