#image-break {
  // background: #ce0b7b;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("break.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: 50% 50%;
  text-align: center;
  border: none;
  margin: 0 auto;
  margin-top: -100px;
  min-height: 100vh;
  width: 100wh !important;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;

  h1 {
    font-family: inherit !important;
    font-size: 48px;
    font-weight: 300;
    margin-top: 15%;
  }

  @include media-query($screen-sm-min) {
    background-position: 60% 50%;
    h1 {
      font-size: 34px;
      margin-top: 35%;
    }
  }

  @include media-query($screen-iphone5) {
    background-position: 60% 50%;
    h1 {
      font-size: 26px;
      margin-top: 45%;
    }
  }

  h2 {
    font-family: inherit !important;
    font-size: 24px;
    font-weight: 300;
  }

  p {
    font-family: inherit !important;
    font-size: 14px;
    font-weight: 500;
  }
}
