#video {
  z-index: 20;
  position: relative;

  // .content {
  //   -webkit-transform: skew(0deg, 0deg);
  //   transform: skew(0deg, 0deg);
  // }

  h2 {
    font-family: $font-4;
  }

  .background-box {
    font-size: 30px;
    font-family: $font-4;
    // background-color: #ce0b7b;
    background-color: #99CC00; //Green
    color: #FFFFFF;
    padding: 5px;
  }

}
