<div class="container">
  <div id="donate" class="row section slant yellow">
    <div class="content">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h1>Donate</h1>

          <div class="row">
            <h2>{{ site.data.donate.description }}</h2>

            <br><br><br>
          </div>

          <div class="row">
            <div class="col-md-6">

              <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=H3SFUM3ENBPRU" target="_blank">
                <span class="background-box">PayPal</span>
              </a>

              <br><br>

              <p>{{ site.data.donate.paypal }}</p>
            </div>
            <div class="col-md-6">
              <a href="https://www.patreon.com/MakerGirl_UIUC?ty=h" target="_blank">
                <span class="background-box">Patreon</span>
              </a>

              <br><br>

              <p>{{ site.data.donate.patreon }}</p>
            </div>
          </div>

          <br>

          <div class="row">
            <p>{{ site.data.donate.exempt }}</p>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>
