<div class="container">
  <div id="events" class="row section slant lightblue">
    <div class="content">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h1>Events</h1>

          <p>Please sign up for all of our sessions in Champaign, Southern Illinois, and Chicago via <a class="link" href="http://www.eventbrite.com/o/makergirl-8181692733" target="_blank">Eventbrite</a>. Please be cautious when signing up for sessions due to the different locations! For information about scholarships please email <a class="link" href="mailto:info@makergirl.us?Subject=Hi%20there" target="_top">info@makergirl.us</a>.  We want every girl to attend our session, so we look forward to providing you with assistance.</p>

          <h2>Champaign</h2>
          <a href="https://www.google.com/maps/dir//40.1035819,-88.2309209/@40.103582,-88.230921,16z?hl=en-US"><img class="img-responsive" src="https://maps.googleapis.com/maps/api/staticmap?center=Business+Instructional+Facility,+East+Gregory+Drive,+Champaign,+IL,+United+States&zoom=16&size=1050x350&maptype=roadmap&markers=color:red%7C40.1035819,-88.2309209&key=AIzaSyDRIi6Y6xFdlm2wXfhkrQEUYeNQ3uOLYIw" width="100%" height="350"/></a>
          <p>
            <a class="link" href="http://makerlab.illinois.edu/" target="_blank">Illinois MakerLab</a> <br>
            The Business Instructional Facility <br>
            515 E Gregory Avenue Champaign, IL 61820 <br>
            Room 3030 <br>
          </p>
          <p><i>Enter via the east entrance and use the stairs directly after the first set of doors to your right for easiest entry. We are working with Illinois MakerLab, which is a co-working space and the world's first business school 3D printing lab.</i></p>

          <h2>Chicago</h2>
          <a href="https://www.google.com/maps/dir//41.88824,-87.6322765/@41.88824,-87.6322765,16z?hl=en-US"><img class="img-responsive" src="https://maps.googleapis.com/maps/api/staticmap?center=The+3D+Printer+Experience&zoom=16&size=1050x350&maptype=roadmap&markers=color:red%7C41.88824,-87.6322765&key=AIzaSyDRIi6Y6xFdlm2wXfhkrQEUYeNQ3uOLYIw" width="100%" height="350"/></a>
          <p>
            The 3D Printer Experience <br>
            333 N LaSalle St, Chicago, IL <br>
          </p>

          <h2>Southern Illinois</h2>
          <a href="https://www.google.com/maps/dir//37.7484976,-88.9780227/@37.7484976,-88.9780227,16z?hl=en-US"><img class="img-responsive" src="https://maps.googleapis.com/maps/api/staticmap?center=Illinois+Star+Centre+Mall+3000+W+Deyoung+St+Marion,+IL+62959&zoom=16&size=1050x350&maptype=roadmap&markers=color:red%7C37.7484976,-88.9780227&key=AIzaSyDRIi6Y6xFdlm2wXfhkrQEUYeNQ3uOLYIw" width="100%" height="350"/></a>
          <p>
            Illinois Star Centre Mall <br>
            3000 W Deyoung St #604, Marion, IL 62959 <br>
          </p>


        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>
