<div class="container">
  <div id="events" class="row section slant lightblue">
    <div class="content">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h1>Events</h1>

          <!-- <p>We are really excited to continue teaching girls about STEM in our programs. When signing up, it is imperative that you complete the <a href="http://www.eventbrite.com/o/makergirl-8181692733" target="_blank">Eventbrite</a> and this <a href="https://illinois.edu/sb/sec/1346930" target="_blank">form</a>. It is also imperative that you fill out the form one time for EVERY different girl that you sign up (Ex. If Sally and Sara are sisters, you need to fill out one form for Sally and one form for Sara, but one Eventbrite can be submitted for both girls). Information about scholarships is given in the form and questions may be sent to <a href="mailto:info@makergirl.us?Subject=Hi%20there" target="_top">info@makergirl.us</a>. Looking forward to seeing you and your MakerGirl!</p> -->

          <p>Please sign up for all of our sessions in Champaign, Southern Illinois, and Chicago via <a href="http://www.eventbrite.com/o/makergirl-8181692733" target="_blank">Eventbrite</a>. Please be cautious when signing up for sessions due to the different locations! For information about scholarships please email <a href="mailto:info@makergirl.us?Subject=Hi%20there" target="_top">info@makergirl.us</a>.  We want every girl to attend our session, so we look forward to providing you with assistance.</p>

          <h2>Champaign</h2>
          <iframe width="100%" height="350" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=Business+Instructional+Facility,+East+Gregory+Drive,+Champaign,+IL,+United+States&key=AIzaSyBxXhTfZYFacSr6nRmTT9zabPhPwSmj_HE"></iframe>

          <p>
            The Business Instructional Facility <br>
            515 E Gregory Avenue Champaign, IL 61820 <br>
            Room 3030 <br>
          </p>
          <p><i>Enter via the east entrance and use the stairs directly after the first set of doors to your right for easiest entry.</i></p>

          <h2>Chicago</h2>
          <iframe width="100%" height="350" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=The+3D+Printer+Experience&key=AIzaSyBxXhTfZYFacSr6nRmTT9zabPhPwSmj_HE"></iframe>
          <p>
            The 3D Printer Experience <br>
            333 N LaSalle St, Chicago, IL <br>
          </p>

          <h2>Southern Illinois</h2>
          <iframe width="100%" height="350" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=Illinois+Star+Centre+Mall&key=AIzaSyBxXhTfZYFacSr6nRmTT9zabPhPwSmj_HE"></iframe>
          <p>
            Illinois Star Centre Mall <br>
            3000 W Deyoung St #604, Marion, IL 62959 <br>
          </p>


        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>
