<div class="container">
  <div id="featured" class="row section slant overlay-md">
    <div class="content">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h1>As featured on</h1>

          <div class="row feature">
            <br><br>
            <a href="http://www.chambanamoms.com/2015/06/08/maker-girl-encourages-girls-to-pursue-stem-fields/" target="_blank">
              <img src="{{ site.baseurl }}public/chambanamoms.jpg"/>
            </a>
            <a href="http://www.dailyillini.com/article/2015/03/inspiring-female-amibition-in-stem-through-makergirl" target="_blank">
              <img src="{{ site.baseurl }}public/dailyillini.png"/>
            </a>
            <a href="https://business.illinois.edu/perspectives/" target="_blank">
              <img src="{{ site.baseurl }}public/CoB.jpg"/>
            </a>
            <br>
            <a href="http://impulse-magazine.com/2015/05/06/
        makergirl-inspiring-women-to-pursue-careers-in-stem/" target="_blank">
              <img src="{{ site.baseurl }}public/impulse.png"/>
            </a>
            <br>
            <a href="http://blog.misumiusa.com/printing-inspiration/" target="_blank">
              <img src="{{ site.baseurl }}public/misumi.png"/>
            </a>
            <a href="http://www.smilepolitely.com/tech/makergirl_teaches_young_girls_stem_skills/" target="_blank">
              <img src="{{ site.baseurl }}public/smilepolitely.png"/>
            </a>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="row">
        <h2>Testimonials</h2>

        {% for data in site.data.testimonials %}
          {% assign loopindex = forloop.index %}
          {% assign loopindex3 = forloop.index | modulo: 3 %}

          {% if loopindex <= 3%}
            {% if loopindex3 == 1 %}
              <div class="row">
            {% endif %}

            <div class="col-md-4">
                {% if loopindex == 1 %}
                  <div class="mg-testimonial testimonial-1">
                {% elsif loopindex == 2 %}
                  <div class="mg-testimonial testimonial-2">
                {% else %}
                  <div class="mg-testimonial testimonial-3">
                {% endif %}

                <span>
                  {% if data.testimonial %}
                    <center>{{ data.testimonial }}</center>
                  {% endif %}

                  <br>

                  {% if data.source %}
                  <span class="source">- {{ data.source }}</span>
                  {% endif %}
                </span>
              </div>
            </div>

            {% if loopindex3 == 0 %}
              <br>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
