<div id="home" class="row section">
  <div class="main-section">
    <!-- Update logo -->
    <img src="{{ site.baseurl }}public/mg-logo1.png"/>
    <h1>{{ site.tagline }}</h1>

    <br>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <a href="http://www.eventbrite.com/e/passion-for-fashion-in-chicago-3d-printer-experience-tickets-19335333503" target="_blank">
            <span class="background-box pastelblue col3">
              Chicago Session (Nov 20)
            </span>
          </a>
        </div>

        <div class="col-md-4">
          <a href="http://www.eventbrite.com/o/makergirl-8181692733" target="_blank">
            <span class="background-box pastelblue col3">
              Sign-up for our sessions here!
            </span>
          </a>
        </div>

        <div class="col-md-4">
          <a href="http://www.eventbrite.com/e/makergirls-one-year-birthday-celebration-tickets-18673735646" target="_blank">
            <span class="background-box pastelblue col3">
              MakerGirl’s Birthday (Nov 30)
            </span>
          </a>
        </div>
      </div>
    </div>

    <br><br>
  </div>
</div>
