<div id="home" class="row section">
  <div class="main-section">
    <!-- Update logo -->
    <img src="{{ site.baseurl }}public/mg-logo-new2.png"/>
    <h1>{{ site.tagline }}</h1>

    <a href="http://www.eventbrite.com/e/passion-for-fashion-in-chicago-3d-printer-experience-tickets-19335333503" target="_blank">
      <button type="button" class="btn btn-default btn-lg">
        Sign up for the CHICAGO session (Nov 20)
      </button>
    </a>

    <br><br>

    <a href="http://www.eventbrite.com/e/makergirls-one-year-birthday-celebration-tickets-18673735646" target="_blank">
      <button type="button" class="btn btn-default btn-lg">
        Sign up for MakerGirl’s birthday session (Nov 30)
      </button>
    </a>

    <br><br>

    <a href="http://www.eventbrite.com/o/makergirl-8181692733" target="_blank">
      <button type="button" class="btn btn-default btn-lg">
        Sign-up for our sessions here!
      </button>
    </a>
  </div>
</div>
