<div id="home" class="row section">
  <div class="main-section">
    <!-- Update logo -->
    <img id="homeLogo" src="{{ site.baseurl }}public/mg-logo1.png"/>
    <h1>{{ site.tagline }}</h1>

    <br>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <a href="http://www.eventbrite.com/o/makergirl-8181692733" target="_blank">
            <span class="background-box pastelblue">
              Register for Summer 2016 sessions!
            </span>
          </a>
        </div>

        <div class="col-md-5">
          <a href="{{ site.baseurl }}trip" target="_blank">
            <span class="background-box orange">
              Join us in our road trip!
            </span>
          </a>
        </div>
        <div class="col-md-1"></div>
      </div>

      <br><br>
      <br><br>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <a href="{{ site.baseurl }}public/img/contest.jpg" target="_blank">
            <img src="{{ site.baseurl }}public/img/illustrations/ultimaker.png"/>

            <br><br>
            <br><br>

            <span class="background-box ultimaker">
              MakerGirl X Ultimaker Contest! Win a 3D printer
            </span>
          </a>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>
