<div class="container">
  <div id="image-blocks" class="row section overlay-sm">
    <div class="container">
      <br>

      <div class="row">
        <div class="col-md-6">
          <img src="{{ site.baseurl }}public/img/break/break1.jpg">
        </div>
        <div class="col-md-6">
          <img src="{{ site.baseurl }}public/img/break/break4.jpg">
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-6">
          <img src="{{ site.baseurl }}public/img/break/break3.jpg">
        </div>
        <div class="col-md-6">
          <img src="{{ site.baseurl }}public/img/break/break2.jpg">
        </div>
      </div>

      <br>
    </div>
  </div>
</div>
