<div id="image-break" class="row section break overlay-md">
  <video autoplay  poster="{{ site.baseurl }}public/break.jpg" id="bgvid" loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
  <source src="{{ site.baseurl }}public/breakvid.webm" type="video/webm">
  <source src="{{ site.baseurl }}public/breakvid.mp4" type="video/mp4">
  </video>

  <h1>Today’s makers. <br> Tomorrow’s life changers.</h1>
</div>
