<script src="../../public/js/instansive.js"></script>

<div class="white-wrapper">
  <div class="container">
    <div id="instagram" class="row section overlay-sm">
      <div class="content">
        <div class="row">
          <h1>Follow us on <a href="{{ site.instagram }}" title="Instagram" target="_blank">Instagram</a></h1>

          <br><br>

          <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/70b2b2c3271d591c9c00e5aeb04ec847.html" id="lightwidget_70b2b2c327" name="lightwidget_70b2b2c327"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
