<!-- INSTANSIVE WIDGET -->
<script src="//instansive.com/widget/js/instansive.js"></script>

<div class="white-wrapper">
  <div class="container">
    <div id="instagram" class="row section overlay-sm">
      <div class="content">
        <div class="row">
          <h1>Follow us on <a href="{{ site.instagram }}" title="Instagram" target="_blank">Instagram</a></h1>

          <br><br>

          <iframe src="//instansive.com/widgets/279d50a5007957f6bc8d23d71f57ab3c.html" id="instansive_279d50a500" name="instansive_279d50a500"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
