<div class="container">
  <div id="intro" class="row section slant green overlay-sm">
    <div class="content">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h1>Brings 3D printing <br> to life</h1>

          <p>MakerGirl sessions are for girls aged 7-10 and are led by university STEM women. All of our sessions teach young girls 3D printing, while also teaching them about women leaders in STEM fields, innovative companies, cutting edge technology, and much more.  We want your MakerGirl to come to our session and depart wanting to actively participate in any and all parts of STEM!</p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>
