<div class="container">
  <div id="mission_vision" class="row section slant orange overlay-lg">
    <div class="content">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <br><br>

          <h1>Mission</h1>
          <h2>Inspire girls to be active in STEM</h2>

          <br><br>

          <h1>Vision</h1>
          <h2>Girls live and dream as unstoppable forces that say yes to the challenges of the future which leads to gender equality in all workplaces</h2>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>
