<div id="video" class="row section no-border-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <!-- Make the font bigger -->
        <center><p style="font-size: 36px;">MakerGirl brings 3D printing, Science, Technology, Engineering, and Math (STEM) to life for girls to start creating anything they want in their lives.<p></center>
        <p>MakerGirl sessions are for girls aged 7-10 and are led by university STEM women. All of our sessions teach young girls 3D printing, while also teaching them about women leaders in STEM fields, innovative companies, cutting edge technology, and much more.  We want your MakerGirl to come to our session and depart wanting to actively participate in any and all parts of STEM!</p>
      </div>
      <div class="col-md-2"></div>
    </div>

    <br><br>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <br><br>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WCAM7iw8__k?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <br><br>

    <div class="row">
      <div class="col-md-6">
        <!-- Colored boxes for the Mission & Vision -->
        <span class="background-box">Mission</span>
        <h3>Inspire girls to be active in STEM</h3>
      </div>

      <div class="col-md-6">
        <span class="background-box">Vision</span>
        <h3>Girls live and dream as unstoppable forces that say yes to the challenges of the future which leads to gender equality in all workplaces</h3>
      </div>
    </div>
  </div>
</div>
