<div class="container">
  <div id="who" class="row section slant purple">
    <div class="content">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <br><br>

          <h1>Who is a MakerGirl?</h1>
          <h2>A MakerGirl is an up and coming force to be reckoned with. As young girls, they learn to think and act for themselves, and they gain the skills to pursue “impossible” challenges in life. As they grow, supported by the MakerGirls around them, they become the driving impact towards equality and diversity in both educational fields and workforces.</h2>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>
