---
layout: project
---

<div id="profile" class="row project-section">

  <center>
    <img src="{{ site.baseurl }}public/img/members/{% if page.photo %}{{ page.photo }}{% else %}{{ page.title | split:' ' | first | downcase }}.png{% endif %}" class="img img-responsive full-width"/>
  </center>


  <h1>
    <a href="{{ site.baseurl }}{{ page.title | split:' ' | first | downcase }}">{{ page.title }}</a>
  </h1>

  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
      {% for member in site.data.members %}
        {% if member.name %}
          {% assign memberfirst = member.name.first | downcase | strip | strip_html %}
          {% assign pagefirst = page.title | split:' ' | first | downcase | strip | strip_html %}

          {% if memberfirst == pagefirst %}
            <span>
              {% if member.linkedin %}
              <a href="{{ member.linkedin }}" target="_blank">
                <span class="badge">
                  <span class="fa fa-linkedin"></span>
                </span>
              </a>
              {% endif %}
              {% if member.email %}
              <a href="mailto:{{ member.email }}?Subject=Hi%20{{ member.name.first }}" target="_top">
                <span class="badge">
                  <span class="glyphicon glyphicon-envelope"></span>
                </span>
              </a>
              {% endif %}
            </span>

            <br><br><br>

            {% if member.bio %}
                {{ member.bio }}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>

    <div class="col-md-3"></div>
  </div>
</div>
