<form id="activity-survey" class="container-fluid">
  <div class="row text-center">
    <h1>MakerGirl Session Activity</h1>
    <span class="subtitle">Post-Session</span>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Session Survey</h3>
        </div>

        <div class="panel-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1">
                    <span class="inside-title">
                      First Name
                    </span>
                  </span>
                  <input id="firstName" type="text" name="First Name" class="form-control" placeholder="Daenerys" aria-describedby="sizing-addon1">
                </div>

                <br>

                <div class="input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1">
                    <span class="inside-title">
                      Last Name
                    </span>
                  </span>
                  <input id="lastName" type="text" name="Last Name" class="form-control" placeholder="Targaryen" aria-describedby="sizing-addon1">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group input-group-lg date">
                      <span class="input-group-addon">
                        <span class="inside-title">
                          Birthday
                        </span>
                      </span>
                      <input id="birthday" type="text" name="Birthday" class="form-control" placeholder="01/01/2001"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="inside-title">Can you describe what 3D printing is?</span>
                <div class="btn-group-vertical btn-group-lg" data-toggle="buttons">
                  <label class="btn btn-default">
                    <input type="radio" name="Can you describe what 3D printing is?" value="Printing you can only see properly if you wear 3D glasses" /> Printing you can only see properly if you wear 3D glasses
                  </label>
                  <label class="btn btn-default">
                    <input type="radio"name="Can you describe what 3D printing is?" value="A way to print objects from scratch" /> A way to print objects from scratch
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="Can you describe what 3D printing is?" value="A way to create special objects that you can design" /> A way to create special objects that you can design
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="Can you describe what 3D printing is?" value="Printing that makes colors look three-dimensional" /> Printing that makes colors look three-dimensional
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1">
                    <span class="inside-title">What else would you like to create using a 3D printer?</span>
                  </span>
                  <input id="qf1" type="text" name="What else would you like to create using a 3D printer?" class="form-control" placeholder="I would like to..." aria-describedby="sizing-addon1">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="inside-title">
                  Do you think 3D printing is science?
                </span>

                <div class="btn-group btn-group-lg" data-toggle="buttons">
                  <label class="btn btn-default">
                    <input type="radio" name="Do you think 3D printing is science?" value="Yes" /> Yes
                  </label>
                  <label class="btn btn-default">
                    <input type="radio"name="Do you think 3D printing is science?" value="No" /> No
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1">
                    <span class="inside-title">What can 3D printing be useful for?</span>
                  </span>
                  <input id="qf3" type="text" name="What can 3D printing be useful for?" class="form-control" placeholder="3D printing could be useful for..." aria-describedby="sizing-addon1">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="inside-title">
                  How much do you like 3D printing?
                </span>

                <div class="btn-group btn-group-lg emoji">
                  <label>
                    <input type="radio" name="How much do you like 3D printing?" value="1" /> ☹️
                  </label>
                  <label>
                    <input type="radio" name="How much do you like 3D printing?" value="2" /> 🙁
                  </label>
                  <label>
                    <input type="radio" name="How much do you like 3D printing?" value="3" /> 😐
                  </label>
                  <label>
                    <input type="radio" name="How much do you like 3D printing?" value="4" /> 🙂
                  </label>
                  <label>
                    <input type="radio" name="How much do you like 3D printing?" value="5" /> 😄
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="inside-title">
                  How much did you like this MakerGirl session?
                </span>

                <div class="btn-group btn-group-lg emoji">
                  <label>
                    <input type="radio" name="How much did you like this MakerGirl session?" value="1" /> ☹️
                  </label>
                  <label>
                    <input type="radio" name="How much did you like this MakerGirl session?" value="2" /> 🙁
                  </label>
                  <label>
                    <input type="radio" name="How much did you like this MakerGirl session?" value="3" /> 😐
                  </label>
                  <label>
                    <input type="radio" name="How much did you like this MakerGirl session?" value="4" /> 🙂
                  </label>
                  <label>
                    <input type="radio" name="How much did you like this MakerGirl session?" value="5" /> 😄
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="inside-title">
                  Would you recommend this session to a friend?
                </span>

                <div class="btn-group btn-group-lg" data-toggle="buttons">
                  <label class="btn btn-default">
                    <input type="radio" name="Would you recommend this session to a friend?" value="Yes" /> Yes
                  </label>
                  <label class="btn btn-default">
                    <input type="radio"name="Would you recommend this session to a friend?" value="No" /> No
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1">
                    <span class="inside-title">What did you learn during this MakerGirl session?</span>
                  </span>
                  <input id="qf4" type="text" name="What did you learn during this MakerGirl session?" class="form-control" placeholder="I learned that..." aria-describedby="sizing-addon1">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <center>
                  <button id="start-test" type="button" class="btn btn-lg btn-o btn-w btn-dark" onclick="submitSurvey()">Submit</button>
                </center>
              </div>
            </div>

            <div class="row">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</form>
