<div id="activity-splash" class="container-fluid">
  <div class="row text-center">
    <h1>Let's Play A Game</h1>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <center>
        <img src="{{ site.baseurl }}public/img/game/splash.png" class="img-responsive"/>

        <button id="start-test" type="button" class="btn btn-lg btn-o btn-w btn-dark" onclick="startTest()">Start</button>
      </center>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
