<form id="activity-survey" class="container-fluid">
  <div class="row text-center">
    <h1>MakerGirl Session Activity</h1>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Session Survey</h3>
        </div>

        <div class="panel-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1">
                    <span class="inside-title">
                      First Name
                    </span>
                  </span>
                  <input id="firstName" type="text" name="First Name" class="form-control" placeholder="Daenerys" aria-describedby="sizing-addon1">
                </div>

                <br>

                <div class="input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1">
                    <span class="inside-title">
                      Last Name
                    </span>
                  </span>
                  <input id="lastName" type="text" name="Last Name" class="form-control" placeholder="Targaryen" aria-describedby="sizing-addon1">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group input-group-lg date">
                      <span class="input-group-addon">
                        <span class="inside-title">
                          Birthday
                        </span>
                      </span>
                      <input id="birthday" type="text" name="Birthday" class="form-control" placeholder="01/01/2001"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1">
                    <span class="inside-title">What do you want to be when you grow up?</span>
                  </span>
                  <input id="qf1" type="text" name="What do you want to be when you grow up?" class="form-control" placeholder="I want to be..." aria-describedby="sizing-addon1">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="inside-title">What's your favorite subject at school?</span>
                <div class="btn-group-vertical btn-group-lg" data-toggle="buttons">
                  <label class="btn btn-default">
                    <input type="radio" name="What's your favorite subject at school?" value="Math" /> Math
                  </label>
                  <label class="btn btn-default">
                    <input type="radio"name="What's your favorite subject at school?" value="Science" /> Science
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="What's your favorite subject at school?" value="Language Arts" /> Language Arts
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="What's your favorite subject at school?" value="Art" /> Art
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="What's your favorite subject at school?" value="Music" /> Music
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="What's your favorite subject at school?" value="PE" /> PE
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="inside-title">
                  Choose from this list all kinds of devices that you get to use at home.
                </span>

                <div class="btn-group-vertical btn-group-lg" data-toggle="buttons">
                  <label class="btn btn-default">
                    <input type="checkbox" name="Choose from this list all kinds of devices that you get to use at home." value="TV" /> TV
                  </label>
                  <label class="btn btn-default">
                    <input type="checkbox" name="Choose from this list all kinds of devices that you get to use at home." value="Computer or laptop" /> Computer or laptop
                  </label>
                  <label class="btn btn-default">
                    <input type="checkbox" name="Choose from this list all kinds of devices that you get to use at home." value="iPad or any tablet" /> iPad or any tablet
                  </label>
                  <label class="btn btn-default">
                    <input type="checkbox" name="Choose from this list all kinds of devices that you get to use at home." value="Phone" /> Phone
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="inside-title">
                  How much do you like science?
                </span>

                <div class="btn-group btn-group-lg emoji">
                  <label>
                    <input type="radio" name="How much do you like science?" value="1" /> ☹️
                  </label>
                  <label>
                    <input type="radio" name="How much do you like science?" value="2" /> 🙁
                  </label>
                  <label>
                    <input type="radio" name="How much do you like science?" value="3" /> 😐
                  </label>
                  <label>
                    <input type="radio" name="How much do you like science?" value="4" /> 🙂
                  </label>
                  <label>
                    <input type="radio" name="How much do you like science?" value="5" /> 😄
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="inside-title">
                  How much do you like technology?
                </span>

                <div class="btn-group btn-group-lg emoji">
                  <label>
                    <input type="radio" name="How much do you like technology?" value="1" /> ☹️
                  </label>
                  <label>
                    <input type="radio" name="How much do you like technology?" value="2" /> 🙁
                  </label>
                  <label>
                    <input type="radio" name="How much do you like technology?" value="3" /> 😐
                  </label>
                  <label>
                    <input type="radio" name="How much do you like technology?" value="4" /> 🙂
                  </label>
                  <label>
                    <input type="radio" name="How much do you like technology?" value="5" /> 😄
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="inside-title">
                  How much do you like engineering? 
                </span>

                <div class="btn-group btn-group-lg emoji">
                  <label>
                    <input type="radio" name="How much do you like engineering?" value="1" /> ☹️
                  </label>
                  <label>
                    <input type="radio" name="How much do you like engineering?" value="2" /> 🙁
                  </label>
                  <label>
                    <input type="radio" name="How much do you like engineering?" value="3" /> 😐
                  </label>
                  <label>
                    <input type="radio" name="How much do you like engineering?" value="4" /> 🙂
                  </label>
                  <label>
                    <input type="radio" name="How much do you like engineering?" value="5" /> 😄
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="inside-title">
                  How much do you like math?
                </span>

                <div class="btn-group btn-group-lg emoji">
                  <label>
                    <input type="radio" name="How much do you like math?" value="1" /> ☹️
                  </label>
                  <label>
                    <input type="radio" name="How much do you like math?" value="2" /> 🙁
                  </label>
                  <label>
                    <input type="radio" name="How much do you like math?" value="3" /> 😐
                  </label>
                  <label>
                    <input type="radio" name="How much do you like math?" value="4" /> 🙂
                  </label>
                  <label>
                    <input type="radio" name="How much do you like math?" value="5" /> 😄
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="inside-title">
                  Can you guess what 3D printing is? Choose one answer.
                </span>

                <div class="btn-group-vertical btn-group-lg" data-toggle="buttons">
                  <label class="btn btn-default">
                    <input type="radio" name="Can you guess what 3D printing is? Choose one answer." value="Math" /> Printing you can only see properly if you wear 3D glasses
                  </label>
                  <label class="btn btn-default">
                    <input type="radio"name="Can you guess what 3D printing is? Choose one answer." value="Science" /> A way to print objects from scratch
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="Can you guess what 3D printing is? Choose one answer." value="Language Arts" /> A way to create special objects that you can design
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="Can you guess what 3D printing is? Choose one answer." value="Art" /> Printing that makes colors look three-dimensional
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1">
                    <span class="inside-title">What is technology?</span>
                  </span>
                  <input id="qf2" type="text" name="What is technology?" class="form-control" placeholder="Technology is..." aria-describedby="sizing-addon1">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="inside-title">
                  Have you attended MakerGirl sessions before?
                </span>

                <div class="btn-group btn-group-lg" data-toggle="buttons">
                  <label class="btn btn-default">
                    <input type="radio" name="Have you attended MakerGirl sessions before?" value="Yes" /> Yes
                  </label>
                  <label class="btn btn-default">
                    <input type="radio"name="Have you attended MakerGirl sessions before?" value="No" /> No
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <center>
                  <button id="start-test" type="button" class="btn btn-lg btn-o btn-w btn-dark" onclick="submitSurvey()">Submit</button>
                </center>
              </div>
            </div>

            <div class="row">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</form>
