<div id="activity-survey" class="container-fluid">
  <div class="row text-center">
    <h1>MakerGirl Session Activity</h1>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Session Survey</h3>
        </div>

        <div class="panel-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1">
                    <span class="inside-title">
                      First Name
                    </span>
                  </span>
                  <input type="text" class="form-control" placeholder="Daenerys" aria-describedby="sizing-addon1">
                </div>
              </div>

              <div class="col-md-4">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1">
                    <span class="inside-title">
                      Last Name
                    </span>
                  </span>
                  <input type="text" class="form-control" placeholder="Targaryen" aria-describedby="sizing-addon1">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <div class="input-group input-group-lg date">
                      <span class="input-group-addon">
                        <span class="inside-title">
                          Birthday
                        </span>
                      </span>
                      <input type="text" class="form-control" id="datetimepicker1" placeholder="01/01/2001"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1">
                    <span class="inside-title">What do you want to be when you grow up?</span>
                  </span>
                  <input type="text" class="form-control" placeholder="I want to be..." aria-describedby="sizing-addon1">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="inside-title">What's your favorite subject at school?</span>
                <div class="btn-group-vertical btn-group-lg" role="group" aria-label="...">
                  <button type="button" class="btn btn-default">Math</button>
                  <button type="button" class="btn btn-default">Science</button>
                  <button type="button" class="btn btn-default">Language Arts</button>
                  <button type="button" class="btn btn-default">Art</button>
                  <button type="button" class="btn btn-default">Music</button>
                  <button type="button" class="btn btn-default">PE</button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="inside-title">
                  Choose from this list all kinds of devices that you get to use at home.
                </span>
                <div class="btn-group-vertical btn-group-lg" role="group" aria-label="...">
                  <button type="button" class="btn btn-default">TV</button>
                  <button type="button" class="btn btn-default">Computer or laptop</button>
                  <button type="button" class="btn btn-default">iPad or any tablet</button>
                  <button type="button" class="btn btn-default">Phone</button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="inside-title">
                  How much do you like science?
                </span>
                <ul class="emoji">
                  <li>☹️</li>
                  <li>🙁</li>
                  <li>😐</li>
                  <li>🙂</li>
                  <li>😄</li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="inside-title">
                  How much do you like technology?
                </span>
                <ul class="emoji">
                  <li>☹️</li>
                  <li>🙁</li>
                  <li>😐</li>
                  <li>🙂</li>
                  <li>😄</li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="inside-title">
                  How much do you like engineering? 
                </span>
                <ul class="emoji">
                  <li>☹️</li>
                  <li>🙁</li>
                  <li>😐</li>
                  <li>🙂</li>
                  <li>😄</li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="inside-title">
                  How much do you like math? 
                </span>
                <ul class="emoji">
                  <li>☹️</li>
                  <li>🙁</li>
                  <li>😐</li>
                  <li>🙂</li>
                  <li>😄</li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="inside-title">
                  Can you guess what 3D printing is? Choose one answer.
                </span>
                <div class="btn-group-vertical btn-group-lg" role="group" aria-label="...">
                  <button type="button" class="btn btn-default">Printing you can only see properly if you wear 3D glasses</button>
                  <button type="button" class="btn btn-default">A way to print objects from scratch</button>
                  <button type="button" class="btn btn-default">A way to create special objects that you can design</button>
                  <button type="button" class="btn btn-default">Printing that makes colors look three-dimensional</button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1">
                    <span class="inside-title">What is technology?</span>
                  </span>
                  <input type="text" class="form-control" placeholder="Technology is..." aria-describedby="sizing-addon1">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="inside-title">
                  Have you attended MakerGirl sessions before?
                </span>

                <div class="btn-group btn-group-lg" role="group" aria-label="...">
                  <button type="button" class="btn btn-default">Yes</button>
                  <button type="button" class="btn btn-default">No</button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <center>
                  <button id="start-test" type="button" class="btn btn-lg btn-o btn-w btn-dark" onclick="submitSurvey()">Submit</button>
                </center>
              </div>
            </div>

            <div class="row">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
