<div id="activity-test" class="container-fluid">
  <div class="row text-center">
    <h1 id="game-title">Let's Play A Game</h1>
    <!-- <span class="subtitle"><small>in collaboration with </small> <a class="link" href="http://www.istem.illinois.edu/" target="_blank">I-STEM</a></span> -->
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div id="test-body" class="col-md-10">
      <div class="panel panel-default">
        <!-- <div class="panel-heading">
          <h3 class="panel-title">Game</h3>
        </div> -->

        <div class="panel-body">
          <div id="correct" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="alert alert-success" role="alert">
                <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
                <b>Hooray!</b>
                You are correct!
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->

          <div id="wrong" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                <b>Uh, oh!</b>
                <span id="wrong-message">Actually, these are the same. Do you see how both crocodiles are looking in the same direction?</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->

          <div id="test-container" class="container-fluid">
            <div id="instructions">
              <p>See those crocodiles? Are those the same, or different (mirror image)? Use the mouse to move and click on either <b>SAME</b> or <b>MIRROR IMAGE.</b></p>
            </div>

            <div class="row">
              <div class="col-md-6">
                <center>
                  <img class="control-image" src="{{ site.baseurl }}public/img/game/pre/1.jpg"/>
                  <br>
                  <!-- <button type="button" class="btn btn-lg btn-o btn-success click" onclick="clickSame()">Same</button> -->
                </center>
              </div>
              <div class="col-md-6">
                <center>
                  <img class="test-image" src="{{ site.baseurl }}public/img/game/pre/1.jpg"/>
                  <br>
                  <!-- <button type="button" class="btn btn-lg btn-o btn-danger click" onclick="clickDiff()">Different</button> -->
                </center>
              </div>
            </div>

            <div class="row">
              <center>
                <button type="button" class="btn btn-lg btn-w btn-o btn-default click" onclick="clickSame()">Same</button>
                <br><br>
                <button type="button" class="btn btn-lg btn-w btn-o btn-default click" onclick="clickDiff()">Mirror Image</button>
              </center>
            </div>

            <!-- <div class="row">
              <center>
                <button type="button" class="btn btn-lg btn-o btn-dark click" onclick="nextItem()">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
              </center>
            </div> -->

            <div class="row">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
